<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.lyd.base.provider.mapper.GatewayRateLimitMapper">
  <resultMap id="BaseResultMap" type="com.github.lyd.base.client.model.entity.GatewayRateLimit">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="limit" jdbcType="BIGINT" property="limit" />
    <result column="interval" jdbcType="BIGINT" property="interval" />
    <result column="interval_unit" jdbcType="VARCHAR" property="intervalUnit" />
    <result column="limit_desc" jdbcType="VARCHAR" property="limitDesc" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
</mapper>
