<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.lyd.base.provider.mapper.GatewayIpLimitApisMapper">
  <resultMap id="BaseResultMap" type="com.github.lyd.base.client.model.entity.GatewayIpLimitApi">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="item_id" jdbcType="BIGINT" property="itemId" />
    <result column="policy_id" jdbcType="BIGINT" property="policyId" />
    <result column="api_id" jdbcType="BIGINT" property="apiId" />
  </resultMap>

  <resultMap id="IpLimitApisDto" extends="com.github.lyd.base.provider.mapper.BaseResourceApiMapper.BaseResultMap" type="com.github.lyd.base.client.model.GatewayIpLimitApisDto">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="item_id" jdbcType="BIGINT" property="itemId" />
    <result column="policy_id" jdbcType="BIGINT" property="policyId" />
    <result column="policy_name" jdbcType="VARCHAR" property="policyName" />
    <result column="policy_type" jdbcType="TINYINT" property="policyType" />
    <result column="ip_address" jdbcType="VARCHAR" property="ipAddress" />
  </resultMap>

  <select id="selectIpLimitApisDto" resultMap="IpLimitApisDto">
    SELECT
    i.item_id,
    i.policy_id,
    i.api_id,
    p.policy_name,
    p.policy_type,
    p.ip_address,
    a.api_code,
    a.api_name,
    a.api_category,
    a.service_id,
    a.path
    FROM
    gateway_ip_limit_api AS i
    INNER JOIN gateway_ip_limit AS p ON i.policy_id = p.policy_id
    INNER JOIN base_resource_api AS a ON i.api_id = a.api_id
     <where>
       <if test="policyType!=null">
          p.policy_type = #{policyType}
       </if>
     </where>
  </select>
</mapper>
