<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.opencloud.base.provider.mapper.GatewayRateLimitApisMapper">
    <resultMap id="BaseResultMap" type="com.opencloud.base.client.model.entity.GatewayRateLimitApi">
        <!--
          WARNING - @mbg.generated
        -->
        <result column="policy_id" jdbcType="BIGINT" property="policyId"/>
        <result column="api_id" jdbcType="BIGINT" property="apiId"/>
    </resultMap>

    <resultMap id="RateLimitApi" extends="com.opencloud.base.provider.mapper.GatewayIpLimitApisMapper.ApiResultMap"
               type="com.opencloud.base.client.model.RateLimitApi">
        <!--
          WARNING - @mbg.generated
        -->
        <result column="policy_id" jdbcType="BIGINT" property="policyId"/>
        <result column="policy_name" jdbcType="VARCHAR" property="policyName"/>
        <result column="limit" jdbcType="BIGINT" property="limit"/>
        <result column="interval_unit" jdbcType="VARCHAR" property="intervalUnit"/>
    </resultMap>

    <select id="selectRateLimitApi" resultMap="RateLimitApi">
        SELECT
            i.policy_id,
            p.`limit`,
            p.interval_unit,
            p.policy_name,
            i.api_id,
            a.api_id,
            a.api_code,
            a.api_name,
            a.api_category,
            a.service_id,
            a.path
        FROM
            gateway_rate_limit_api AS i
               LEFT JOIN gateway_rate_limit AS p ON i.policy_id = p.policy_id
               LEFT JOIN base_api AS a ON i.api_id = a.api_id
        WHERE
            p.limit_type = 'url'
    </select>
</mapper>
